<!--
 * @Author: your name
 * @Date: 2019-09-06 14:44:59
 * @LastEditTime: 2019-10-24 16:24:03
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \demo\src\views\test.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>1111
  <p>2222</p>
  <h3>test</h3>
  <h5>h5</h5>
  <script>
    class Point{
      constructor(x,y){
        this.x = x;
        this.y = y;
      }
      
      toString(){
        return this.x + this.y;
      }
    }
  </script>
</body>
</html>