<!--
 * @Author: your name
 * @Date: 2019-10-24 16:31:13
 * @LastEditTime: 2019-11-01 15:39:46
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \demo\src\views\test.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{message}}
  </div>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
  <script>
    var vm = new Vue({
      el:'#app',
      data:{
        message: '234234'
      },
      beforeCreate () {
        console.log('beforeCreate------------');
        console.log('beforeCreate',this.message);
        console.log('beforeCreate',this.$el);
      },
      created () {
        console.log('created-----------');
        console.log('created',this.message);
        console.log('created',this.$el);     
      },
      beforeMount() {
        console.log('beforeMount------------');
        console.log('beforeMount',this.message);
        console.log('beforeMount',this.$el);
      },
      mounted() {
        console.log('mounted---------------');
        console.log('mounted',this.message);
        console.log('mounted',this.$el);
      },
    })
  </script>
</body>
</html>